
body {
    font-family: 'Roboto', sans-serif;
    background-color: #eff3f6;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

a {
    color: #6ea9e7;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #414648;
    text-decoration: underline;
}


header {
    background:  #0f47a6 100%;
    padding: 20px;
    text-align: center;
    color: #fff;
}

header h1 {
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

header p {
    margin: 10px 0;
}


section {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px auto;
    max-width: 1000px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.08);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

h2 {
    font-family: 'Lato', sans-serif;
    color: #0056b3;
    position: relative;
}

h2::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 4px;
    background: #007bff;
}

.vivid-text, .workflow-figure {
    background-color: #f8f9fa;
    border-left: 4px solid #007bff;
    padding: 20px;
    margin: 20px 0;
}

.aligned-list li {
    margin-bottom: 10px;
}

.workflow-figure img {
    max-width: 60%; 
    height: auto; 
    border-radius: 4px; 
    /*box-shadow: 0 2px 4px rgba(0,0,0,0.1);  */
    display: block; 
    margin: 0 auto; 
}


section:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.vivid-text p, .vivid-text li {
    color: #555;
    font-size: 16px;
    line-height: 1.8;
}

.aligned-list {
    list-style-type: none;
}

.aligned-list li::before {
    content: '•';
    color: #007bff;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}
.video-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; 
    flex-wrap: wrap;
}

.video-item {
    width: 48%; 
    margin-bottom: 20px; 
}

video {
    width: 100%; 
    height: auto;
}

.video-item p {
    text-align: center; 
    color: #333; 
    font-size: 16px;
    margin-top: 10px; 
}

